// .container
// {
//     /* margin: 5%; */
// }

// .bgimg
// {
//     background-size: 75px;
//     background-position: center;
//     background-repeat: no-repeat;
//     font-weight: 500;
// }

a
{
    margin: 0.5em;
    /* overflow: hidden;
    max-height: 100px; */
}

.logo
{
    /* height: 100%; */
    /* max-height: 100%; */
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

// .right
// {
//   margin-left: auto;
// }

.toolColor
{
  background-color: #00802b;
}

.logo
{
    // height: 100%;
    max-height: 100%;
    // height: 100px;
    // margin-left: 10px;
    // margin-right: 10px;
    // margin-top: 10px;
    margin-bottom: 10px;
}

.btnDefault
{
  color: white;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;

  //for animation
  display: inline-block;
  position: relative;
}

.btnDefault::before
{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.btnDefault:hover::before
{
  transform: scaleX(1);
  transform-origin: bottom left;
}
//end of animation

.siCSS
{
  margin-left: auto;
  border: 2px solid white;
  border-radius: 30px;
  background-color: transparent;
  color: white;
}

.caCSS
{
  border: 2px solid transparent;
  border-radius: 30px;
  color: #00802b;
}



// .righter{
//   margin-left: auto;
// }
