<div class= "container">
  <mat-toolbar class="toolColor"> 
    <!-- stimmt routerlink? -->
    <a type="button" routerLink="/home"><img class="logo" src="/assets/img/gecco.png" alt="logo"></a>
    <!-- <a mat-raised-button color="primary" class="bgimg" type="button" routerLink="/profile">Profile</a> -->
    <a class="btnDefault" type="button" routerLink="/sign-up">Dashboard</a>
    <a class="btnDefault" type="button" routerLink="/faq">FAQ</a>
    <a mat-raised-button class="siCSS" type="button" routerLink="/login">Sign in</a>
    <!-- <a mat-raised-button class="btnColor" class="right" type="button">Logout</a> -->
    <a mat-raised-button class="caCSS" type="button" routerLink="/sign-up">Create Account</a>


  </mat-toolbar>


<router-outlet></router-outlet>
</div>