<div class= "container">
  <mat-toolbar color="primary"> 
    <!-- <a mat-raised-button color="primary" class="bgimg" type="button" routerLink="/profile">Profile</a> -->
    <a mat-raised-button color="primary" class="bgimg" type="button" routerLink="/sign-up">Dashboard</a>
    <a mat-raised-button color="primary" class="bgimg" type="button" routerLink="/faq">FAQ</a>
    <a mat-raised-button color="primary" class="bgimg" class="right" type="button" routerLink="/login">Login</a>
    <!-- <a mat-raised-button color="primary" class="bgimg" class="right" type="button">Logout</a> -->
    <a mat-raised-button color="primary" class="bgimg" class="righter" type="button"  routerLink="/sign-up">Register</a>


  </mat-toolbar>


<router-outlet></router-outlet>
</div>